
a[href],
button {
	cursor: pointer;
}

label[for] {
	cursor: pointer;
}

.slds-select[size] {
    height:0;
}


/*
 * Icons
 */

a.slds-button_icon-brand,
a.slds-button_icon-container,
a.slds-button_icon-border-filled,
a.slds-button_icon-border,
a.slds-button_icon-border-inverse {
	line-height: calc(2rem - 2px);
}




/*
 * Button Large
 */

.slds-button--large,
.slds-button_large {
	line-height: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}


/*
 * Small Bage
 */

.slds-badge--small,
.slds-badge_small {
	padding:.08rem .4rem;
}


/*
 * Pagination
 */

.slds-pagination {}

.slds-pagination .slds-button {
	position: static;
}
.slds-pagination .slds-button_neutral,
.slds-pagination .slds-button_brand {
	padding-left: .8rem;
	padding-right: .8rem;
}
.slds-pagination .slds-button .slds-button__icon_right,
.slds-pagination .slds-button .slds-button__icon--right {
	margin-left: .2rem;
}
.slds-pagination .slds-button .slds-button__icon_left,
.slds-pagination .slds-button .slds-button__icon--left {
	margin-right: .2rem;
}

.slds-pagination_pages {
}

.slds-pagination_page-selector {
}
.slds-pagination_page-selector .slds-input {
	width: 60px;
	text-align: center;
	padding: 0 .5rem;
}



/*
 * Checkbox Label
 */

.slds-checkbox .slds-form-element__label {
    padding-top: 0;
}



/*
 * Custom Forms
 */

.slds-checkbox_align-by-side {
	margin-top: 1.8rem !important;
}

.slds-checkbox_toggle-container {
	padding: .5rem 0;
}
.slds-checkbox_toggle-container .slds-form-element__control {
	display: inline-block;
}

.slds-checkbox_cross-align label {
	justify-content: space-between;
}

.slds-radiogroup_hidden-label {}
.slds-radiogroup_hidden-label legend {
	display: none;
}
.slds-radiogroup_spread {}
.slds-radiogroup_spread .slds-radio + .slds-radio {
	margin-top: 7px;
}




/*
 * Workaround Modal
 */

.slds-modal {
    overflow-y: auto;
}
.slds-modal__container {
    transform: none !important;
    padding: 1rem;
    width: auto !important;
    height: auto;
    min-height: 100%;
}
.slds-modal_medium .slds-modal__container {
    max-width: 60rem;
}
.slds-modal_small .slds-modal__container {
    max-width: 25rem;
}
.slds-modal__content {
    overflow: visible;
}



/*
 * Workaround Alerts / Toasts / Notify
 */

.slds-notify--toast,
.slds-notify_toast {
    min-width: 0 !important; /* override SLDS [.slds-notify_toast] style */
}


/*
 * Custom <pre>
 */

.slds-pre {
    font-family: inherit;
    margin: 0;
    padding: 0;
}



/*
 * Wrap / NoWrap
 */

.slds-text-nowrap {
	white-space: nowrap;
}
.slds-text-wrap {
	white-space: normal;
}


/*
 * Data Table row highlights
 */

.slds-table_row-state_active {
}
.slds-table_row-state_active > td:first-child::before,
.slds-table_row-state_active > th:first-child::before {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background-color: #18a60d;
}

.slds-table_row-state_inactive {
    background-color: #f5fbfc;
    color: #959ba2;
}

.slds-table_row-state_error {
    background-color: #ffebeb;
}
.slds-table_row-state_error > td:first-child::before,
.slds-table_row-state_error > th:first-child::before {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background-color: #c23934;
}


/* Faded highlight */

.slds-table_row-highlight {
    -webkit-animation: shadow-fade 2s linear;
    animation: shadow-fade 2s linear;
}


@-webkit-keyframes shadow-fade {
    0% {
        box-shadow: inset 0 0 2px 2px rgba(121, 193, 255, 1);
    }
    50% {
        box-shadow: inset 0 0 2px 2px rgba(121, 193, 255, 1);
    }
    95% {
        box-shadow: inset 0 0 2px 2px rgba(121, 193, 255, 0);
    }
    100% {
        box-shadow: none;
    }
}
@keyframes shadow-fade {
    0% {
        box-shadow: inset 0 0 2px 3px rgba(121, 193, 255, 1);
    }
    50% {
        box-shadow: inset 0 0 2px 3px rgba(121, 193, 255, 1);
    }
    95% {
        box-shadow: inset 0 0 2px 3px rgba(121, 193, 255, 0);
    }
    100% {
        box-shadow: none;
    }
}




/*
 * Custom Themes
 */

.slds-theme_static {
    background-color: transparent;
    color: #8d9194;
}
.slds-theme_static .slds-icon,
.slds-theme_static .slds-button-icon,
.slds-theme_static .slds-button__icon {
    fill: #b0adab; /* .slds-icon-text-light */
}







.primary-section {
    margin: 20px -50px;

    background-color: #fff;
    border-top: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
