/*
 * CSS: position: fixed / absolute,  z-index levels
 *
 * LEVEL 1-3 - UI widgets, tooltip, dropdown, popover
 *
 * LEVEL 4 - global header / navigation
 *
 * LEVEL 5 -
 *
 * LEVEL 6 - modal windows
 *
 * LEVEL 7 - notifications
 *
 * LEVEL 8 -
 *
 * LEVEL 9 - page loader
 *
 */

/* LEVEL 1 */

.z-level1 > *:first-child {
    z-index: 1000 !important;
}
.z-level1 > *:first-child + * {
    z-index: 1100 !important;
}
.z-level1 > *:first-child + * + * {
    z-index: 1200 !important;
}
.z-level1 > *:first-child + * + * + * {
    z-index: 1300 !important;
}
.z-level1 > *:first-child + * + * + * + * {
    z-index: 1400 !important;
}



/* LEVEL 2 */

.z-level2 > *:first-child {
    z-index: 2000 !important;
}
.z-level2 > *:first-child + * {
    z-index: 2100 !important;
}
.z-level2 > *:first-child + * + * {
    z-index: 2200 !important;
}
.z-level2 > *:first-child + * + * + * {
    z-index: 2300 !important;
}
.z-level2 > *:first-child + * + * + * + * {
    z-index: 2400 !important;
}



/* LEVEL 3 */

.z-level3 > *:first-child {
    z-index: 3000 !important;
}
.z-level3 > *:first-child + * {
    z-index: 3100 !important;
}
.z-level3 > *:first-child + * + * {
    z-index: 3200 !important;
}
.z-level3 > *:first-child + * + * + * {
    z-index: 3300 !important;
}
.z-level3 > *:first-child + * + * + * + * {
    z-index: 3400 !important;
}



/* LEVEL 4 */

.z-level4 > *:first-child {
    z-index: 4000 !important;
}
.z-level4 > *:first-child + * {
    z-index: 4100 !important;
}
.z-level4 > *:first-child + * + * {
    z-index: 4200 !important;
}
.z-level4 > *:first-child + * + * + * {
    z-index: 4300 !important;
}
.z-level4 > *:first-child + * + * + * + * {
    z-index: 4400 !important;
}



/* LEVEL 5 */

.z-level5 > *:first-child {
    z-index: 5000 !important;
}
.z-level5 > *:first-child + * {
    z-index: 5100 !important;
}
.z-level5 > *:first-child + * + * {
    z-index: 5200 !important;
}
.z-level5 > *:first-child + * + * + * {
    z-index: 5300 !important;
}
.z-level5 > *:first-child + * + * + * + * {
    z-index: 5400 !important;
}



/* LEVEL 6 */

.z-level6 > *:first-child {
    z-index: 6000 !important;
}
.z-level6 > *:first-child + * {
    z-index: 6100 !important;
}
.z-level6 > *:first-child + * + * {
    z-index: 6200 !important;
}
.z-level6 > *:first-child + * + * + * {
    z-index: 6300 !important;
}
.z-level6 > *:first-child + * + * + * + * {
    z-index: 6400 !important;
}



/* LEVEL 7 */

.z-level7 > *:first-child {
    z-index: 7000 !important;
}
.z-level7 > *:first-child + * {
    z-index: 7100 !important;
}
.z-level7 > *:first-child + * + * {
    z-index: 7200 !important;
}
.z-level7 > *:first-child + * + * + * {
    z-index: 7300 !important;
}
.z-level7 > *:first-child + * + * + * + * {
    z-index: 7400 !important;
}



/* LEVEL 8 */

.z-level8 > *:first-child {
    z-index: 8000 !important;
}
.z-level8 > *:first-child + * {
    z-index: 8100 !important;
}
.z-level8 > *:first-child + * + * {
    z-index: 8200 !important;
}
.z-level8 > *:first-child + * + * + * {
    z-index: 8300 !important;
}
.z-level8 > *:first-child + * + * + * + * {
    z-index: 8400 !important;
}



/* LEVEL 9 */

.z-level9 > *:first-child {
    z-index: 9000 !important;
}
.z-level9 > *:first-child + * {
    z-index: 9100 !important;
}
.z-level9 > *:first-child + * + * {
    z-index: 9200 !important;
}
.z-level9 > *:first-child + * + * + * {
    z-index: 9300 !important;
}
.z-level9 > *:first-child + * + * + * + * {
    z-index: 9400 !important;
}
